* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none;
  background-color: #fce4e7;
}

.container {
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 6px;
}

.exercise input {
  background-color: #fce4ec;
  color: #000;
  border: none;
}

.exercise button {
  text-align: left;
  background-color: #c9b2ba;
}

.exercise {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.btn-primary {
  border: none;
}

.box {
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 6px;
  background-color: #fce4ec;
  color: #000;
  border: none;
}

.ex2__input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.red {
  height: 30px;
  line-height: 30px;
  color: #fff;
  padding: 0 10px;
  background-color: red;
}

.blue {
  height: 30px;
  line-height: 30px;
  color: #fff;
  padding: 0 10px;
  background-color: blue;
}

#content {
  display: none;
}

.bsh--none {
  box-shadow: none;
}
